@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Lilita+One&family=Montserrat:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


body{
    overflow-x: hidden;
}
.header {
    background-color: rgba(0, 0, 0, 1);
}

.header hr {
    color: rgba(232, 238, 255, 1);
    margin: 0;
}

.logo a {
    margin-left: 5px;
}

.listing-btn {
    background: rgba(96, 140, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.user-btn {
    background: rgba(232, 238, 255, 1);
    border: none;
    border-radius: 15px;
    padding: 3px 15px;
    color: rgba(0, 0, 0, 1);
}

.leanding-page li  {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    list-style-type: none;
}

.pages a  {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    /* list-style-type: none; */
}

.main-part {
    background-color: rgba(232, 240, 255, 1);
}

.btn-color {
    background: rgba(132, 166, 255, 1);
}
.banner-size{
    width: 100%;
    margin: auto;
}
.bg-image {
    background-image: url("/images/banner-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 618px;
}
.bg-image-2{
    background-image: url("/images/header_011 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 618px;
    width: 100%;
}
.bg-image-3{
    background-image: url("/images/banner-3");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 618px;
}


.sell-button {
    font-size: 20px;
    line-height: 24.38px;
    color: rgba(96, 140, 255, 1);
}

.lease-button {
    background-color: rgba(0, 0, 0, 0.19);
    font-size: 20px;
    line-height: 24.38px;
}

.input-group {
    max-width: 882px !important;
    margin: auto;
}

.btn-1 {
    position: absolute;
    top: 2%;
    left: 5%;
    background-color: rgba(0, 168, 7, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn-2 {
    position: absolute;
    top: 2%;
    right: 5%;
    background-color: rgba(181, 181, 181, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.location {
    position: absolute;
    bottom: 30%;
    left: 5%;
    font-size: 10px;
    line-height: 18.72px;
    cursor: pointer;
    text-align: center;
    font-family: inter;
    font-weight: 500;
}


.rent {
    background-color: rgb(255, 255, 255, 1);
}

.rent-name {
    font-weight: 500;
    font-family: inter;
    font-weight: 500;
    line-height: 24.2px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

.rent-price {
    color: rgba(132, 166, 255, 1);
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
    line-height: 24.96px;

}

.rent-details {
    color: rgba(158, 158, 158, 1);
    font-size: 12px;
    font-weight: 500;
    font-family: Inter;
    line-height: 18.72px;
}

.learn-more {
    width: 310px;
    height: 38px;
    border-radius: 5px;
    background-color: rgba(255, 147, 147, 1);
}

.explore-agency {
    background: #fff;
    height: 251px;
    width: 303px;
    margin: auto;
    position: relative;
}

.explore {
    top: 46%;
    left: 33%;
    position: absolute;
}

.explore p {
    font-size: 10px;
    line-height: 12.19px;
    font-weight: 700;
    margin: 0;
}

.explore h4 {
    font-size: 20px;
    line-height: 24.38px;
    font-weight: 700;
}

.read-more {
    left: 37%;
    bottom: 3%;
    position: absolute;
}

.read-more a {
    letter-spacing: 2px;
    line-height: 10.97px;
    font-size: 9px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.service-details {
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    max-width: 801px;
    margin: auto;
}

.services-hr {
    border: 1px solid rgba(20, 0, 255, 1);
    width: 103px;
    margin: auto;
}

.popular-img img {
    width: 100%;

}

.agency {
    background: rgba(255, 255, 255, 1);
    position: relative;
}

.detroit-area {

    width: 358px;
    margin: auto;
}

.estate-agents {
    /* top: 59%; */
    width: 385px;
    margin: auto;

}

.agency p {
    font-size: 16px;
    line-height: 21.98px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.agency h4 {
    font-size: 40px;
    line-height: 54.96px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}


.property {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    color: rgba(0, 0, 0, 1);
}

.property-image {
    width: 100%;

}

.apartment-details {
    position: relative;
    max-width: 90%;
    margin: auto;
    bottom: 20%;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    line-height: 18.15px;
    font-family: Inter;
    font-weight: 600;
}

.small-view {
    bottom: 22%;
}

.images {
    position: relative;
}

.images button {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: rgba(255, 63, 63, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.dream-house {
    max-width: 730px;
    margin: auto;
}

.house-rent {
    color: rgba(96, 140, 255, 1);
}

.dream-house button {
    position: relative;
    background-color: rgba(255, 63, 63, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.house-img {
    max-width: 100%;
}

.partner-company h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 38.73px;
    color: rgba(0, 0, 0, 1);
    padding: 5px;
}

.company-icon {
    height: 60px !important;
    width: 180px !important;
    margin: 20px;
    padding: 10px;
    background-color: #f0ecec;
    border-radius: 5px;
    border: 1px solid #dadada;
}

.company-icon img {
    width: 80%;
    margin: 0 auto;
    height: 40px;
}

.set-background {
    background-image: url('/images/Rectangle 53.png');
    background-repeat: no-repeat;
    /* background-color: crimson; */
}

.best-property h2 {
    width: 296px;
    height: 128px;
    line-height: 31.66px;
    color: rgba(0, 0, 0, 1);

}

.best-property button {
    background-color: rgba(96, 140, 255, 1);
    font-size: 16;
    font-weight: 500;
    line-height: 19.5px;

}

.popular-areas {
    position: relative;
    height: 113px;
}

.areas-title h3 {
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    font-family: Inter;
    line-height: 48.41px;

}

.areas-title span {
    width: 338px;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    line-height: 16.94px;
}

.areas-title {
    position: absolute;
    width: 338px;
    top: 20%;
    left: 37%;
}



.info {
    background-image: url("/Ellipse\ 4.png");
    background-repeat: no-repeat;
    height: 169px;
    max-width: 169px;
    margin: auto;
    position: relative;
}

.info img {
    position: absolute;
    top: 22%;
    left: 21%;

}

.info-text {
    font-family: 'Dynalight', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.12px;
    text-align: center;
    top: 50%;
    left: 10%;
    max-width: 130px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
}

.info-area {
    height: 193px;
    background: rgba(255, 255, 255, 1);
}

.feedback {
    width: 116px;
    height: 48px;
    text-align: center;
    top: 50%;
    left: 10%;
    font-size: 20px;
    line-height: 24.27px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    font-family: 'Dynalight', cursive;
    font-weight: 400;
}

.comercial-blog {
    width: 423px !important;
    height: 123px !important;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.76px;
    text-align: center;
    top: 8%;
    left: 33%;
    position: absolute;
}

.happy-client {
    padding: 5%;
}

.happy-client:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.happy-client img {
    width: 134.26px;
    height: 134.26px;
    margin: auto;
}

.happy-client p {
    font-size: 10px;
    line-height: 17.05px;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.happy-client h5 {
    font-size: 15px;
    line-height: 25.58px;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.contact-text {
    background: linear-gradient(rgba(61, 96, 136, 1), rgba(149, 184, 212, 1));
}

.contact-us h2 {
    font-size: 40px;
    line-height: 68.21px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.contact-us p {
    font-size: 15px;
    line-height: 25.58px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.contact p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    color: rgba(255, 255, 255, 1);
}

.contact-logo a img {
    margin-right: 25px;
    height: 32px;
    width: 35px;
}

.footer-class {
    background: rgba(57, 8, 8, 0.856);
}

.footer-text {
    margin: 5px;
    padding: 5px;
}

.footer-text p {
    margin: 0;
    font-size: 15px;
}

.end-text p {
    font-size: 12px;
    line-height: 17.05px;
    text-align: center;
    font-weight: 600;
}

.login-form{
    width: 450px;
    margin: auto;
    padding: 15px;
    border: 1px solid rgb(138, 137, 137);
    border-radius: 5px;
    background-color: rgb(197, 197, 200);
}

.menu-bar {
    display: none;
}


@media only screen and (max-width: 700px){
    .contact-section{
       display: inline-flex;
       flex-direction: column;
    }

    .contact-img img {
        width: 100%;
        height: 100%;
        margin: auto;
    }   

    .contact-logo a img{
        margin-right: 3px;
    }
    .footer-info{
       
        margin: auto;
    }
    .end-text{
        margin-top: 5px;
    }
    .apartment-details {
        bottom: 30%;
        font-size: 12px;
        line-height: 14.15px;
        font-family: Inter;
        font-weight: 400;
    }

    .comercial-blog {
        width:330px !important;
        height: 50px !important;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        top: 2%;
        left: 3%;
        position: absolute;
    }

.areas-title {
    position: absolute;
    width: 338px;
    top: 2%;
    left: 5%;
}
.partner-company{
    width: 100%;
    margin: auto;
}
.agent{
    margin-top: 2px;
}
.best-img img{
    width: 100%;
    margin: auto;
}

.best-property h2 {
    width: 296px;
    height: 65px;
    padding: 2px;
    font-size: 18px;
    line-height: 20.66px;
    color: rgba(0, 0, 0, 1);
}
.best-property p {
    padding: 2px;
    margin: 0px;
}

.estate-agents {
    top: 50%;
    left: 0%;
    max-width: 250px;
    margin: auto;

}

.estate-agents h4 {
    font-size: 30px;
    line-height: 24.96px;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.detroit-area h4  p {
    font-size: 30px;
    line-height: 24.96px;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}
.detroit-area p {
    font-size: 30px;
    line-height: 24.96px;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}
.rent {
 width: 100%;
 margin: auto;
 padding: 5px;
}

.rent img{
    width: 90%;
    margin: auto;
} 

.bg-image {
    height: 100vh;
    width: 100%;
    margin: auto;
}
.bg-image-2 {
    height: 100vh;
    width: 100%;
    margin: auto;
}
.bg-image-3 {
    height: 100vh;
    width: 100%;
    margin: auto;
}

.info{
    background-image: url("/Ellipse\ 4.png");
    background-repeat: no-repeat;
    height: 169px;
    width: 100%;
    margin: auto;
    position: relative;
    /* background-color: brown; */
}

.info img {
    position: absolute;
    top: 22%;
    left: 12%;
}

.info-text {
    font-family: 'Dynalight', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.12px;
    text-align: center;
    top: 50%;
    left: 5%;
    max-width: 130px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
}

.info-area {
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

.happy-client:hover {
    transform: scale(1);
    background-color: rgb(158, 156, 156);
    transition: all 0.5s;
}

.login-form{
    width: 90%;
    margin: auto;
    padding: 5px;
    border: 1px solid rgb(138, 137, 137);
    border-radius: 5px;
    background-color: rgb(203, 203, 206);
}

.header-container hr{
    display: none;
}
.header-part1 {
    display: none;
}

.nav-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: none;
}

.menu.active{
    display: block;
}
.menu-btn{
    display: none;
}
.menu-bar{
    display: block;
    color: #fff;
}

}



@media only screen and (min-width: 768px){

}